---

---

<div class="wrapper">
  <canvas id="canvas"></canvas>
</div>

<script>
  // import * as BABYLON from 'babylonjs'
  // import '@babylonjs/loaders/SPLAT/splatFileLoader'

  // // import splatPath from '/assets/models/desk.spz'

  // function init() {
  //   // babylon init
  //   const canvas = document.getElementById('canvas') as HTMLCanvasElement
  //   if (!canvas) return

  //   // エンジンの作成
  //   const engine = new BABYLON.Engine(canvas)

  //   // シーンの作成
  //   const scene = new BABYLON.Scene(engine)
  //   // scene.debugLayer.show() // インスペクター

  //   // カメラの作成
  //   const camera = new BABYLON.ArcRotateCamera(
  //     'camera',
  //     -Math.PI / 2,
  //     Math.PI / 2.5,
  //     3,
  //     new BABYLON.Vector3(0, 0, 0),
  //     scene,
  //   )
  //   camera.attachControl(canvas, true)

  //   // ライトの作成
  //   const light = new BABYLON.HemisphericLight(
  //     'light1',
  //     new BABYLON.Vector3(0, 1, 0),
  //     scene,
  //   )

  //   new BABYLON.GaussianSplattingMesh('splatting', scene).loadFileAsync(
  //     splatPath,
  //   )

  //   // レンダーループ
  //   engine.runRenderLoop(() => {
  //     scene.render()
  //   })

  //   // ウィンドウリサイズ時の対応
  //   window.addEventListener('resize', () => {
  //     engine.resize()
  //   })
  // }

  // document.addEventListener('DOMContentLoaded', init)
</script>

<style lang="scss">
  .wrapper {
    canvas {
      width: 100%;
      height: 100vh;
      display: block;
    }
  }
</style>
