---
import Footer from '@/layouts/Footer.astro'
import Header from '@/layouts/Header.astro'
import Layout from '@/layouts/Layout.astro'

import Viewer from '@/components/Viewer.astro'
---

<Layout title="Welcome to Astro." description="description">
  <Header />
  <main>
    <Viewer />
  </main>
  <Footer />
</Layout>
